<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMDB系统</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div id="body">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
                        <span class="sr-only">切换导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"></a>
                </div>
                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li >
                            <a href="/index">AWS资源</a>
                          </li>
                        <li>
                            <a href="/v1/apps">业务应用</a>
                        </li>
                        <li>
                            <a href="/v1/configmanage">配置管理</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a>欢迎您</a>
                        </li>
                        <li>
                            <a href="/">安全退出</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">

                    <div class="list-group">
                        <a href="#" class="list-group-item active">
                            业务服务
                        </a>
                        <a href="/v1/apps/fantuan" class="list-group-item">饭团</a>
                        <a href="/v1/apps/guokr" class="list-group-item">果壳</a>
                    </div>
                </div>
                <div class="col-sm-10">
                    <nav class="navbar navbar-inverse">
                        <ul class="nav nav-pills">
                            <li role="presentation">
                                <button type="button" v-on:click="app_query" value="science">科学人</button>
                            </li>
                            <li role="presentation">
                                <button type="button" v-on:click="app_query" value="mooc">MOOC学院</button>
                            </li>
                        </ul>
                    </nav>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            资源列表
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped ">
                                <thead>
                                    <tr>
                                        <th>资源类型</th>
                                        <th>资源实例名称</th>
                                        <th>资源实例规格</th>
                                        <th>创建时间</th>
                                        <!-- <th>监控数据</th> -->
                                    </tr>
                                </thead>
                                <tbody id="res_data_tb">
                                    <tr v-for="res in resourceData">
                                        <td>{{ res.resource_type }}</td>
                                        <td>{{ res.name }}</td>
                                        <td>{{ res.standard }}</td>
                                        <td>{{ res.aws_create_time }}</td>
                                        <!-- <td>
                                    <a :href="'/v1/cloudwatch/ec2/' + ec2.instance_id">监控数据</a>
                                </td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <!-- <div class="panel-heading">
                        搜索
                    </div> -->
                        <div class="panel-body">
                            <form role="form" class="form-inline" id="all_ec2_system_status">
                                <div class="form-group">
                                    <label for="name">监控项</label>
                                    <select class="form-control" name="sys_status">
                                        <option value="cpu">cpu利用率</option>
                                        <option value="memery">内存消耗</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="name">时间范围</label>
                                    <select class="form-control" name="end_time">
                                        <option value="1h">最近1小时</option>
                                        <option value="3h">最近3小时</option>
                                        <option value="12h">最近12小时</option>
                                        <option value="1d">最近1天</option>
                                        <option value="3d">最近3天</option>
                                        <option value="1w">最近1周</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="name">数据统计</label>
                                    <select class="form-control" name="polymerization">
                                        <option value="Average">平均值</option>
                                        <option value="Minimum">最大值</option>
                                        <option value="Maximum">最小值</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="name">数据周期</label>
                                    <select class="form-control" name="period">
                                        <option value="5m">5分钟</option>
                                        <option value="15m">15分钟</option>
                                        <option value="1h">1小时</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="name">业务线</label>
                                    <select class="form-control" name="app_name">
                                        <option value="science">科学人</option>
                                        <option value="mooc">mooc学院</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <button type="button" v-on:click="app_status_query" value="app">查询</button>
                                </div>
                            </form>
                            <div id="app_status" style="width: 80%; height: 500px; margin: 0 auto">
                            </div>
                            <!-- <div v-for="(sys,index) in systemData" style="min-width:360px;height:360px">
                                <div :id="gernerateID(index)" style="min-width:350px;height:350px"></div>
                            </div> -->

                            <div class="modal fade" id="process_model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">服务器进程资源占用排名</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div id="container" style="width: 500px; height: 400px; margin: 0 auto">
                                            </div>
                                        </div>

                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal -->
                            </div>

                            <!-- <form role="form" class="form-inline">
                            <div class="form-group">
                                <label for="name">名称</label>
                                <input type="text" class="form-control" id="name" placeholder="请输入名称">
                            </div>
                            <div class="form-group">
                                <label for="name">状态</label>
                                <select class="form-control">
                                    <option>running</option>
                                    <option>stop</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-default">开始搜索</button>
                            </div>
                        </form> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://cmdb.guokr.com/conf.js"></script> 
<script>
    function query_app_status(time_point, host, monitor_item) {
        console.log(time_point, host, monitor_item)
        $.ajax({
            url: window.cmdbbackurl + "/v1/apps/apphost/point_status",
            type: 'get',
            dataType: 'json',
            xhrFields: {
                withCredentials: true
            },
            crossDomain: true,
            data: {
                time_point: time_point,
                host_ip: host,
                monitor_item: monitor_item
            },
            success: (d) => {

                var chart = {
                    type: 'bar'
                };
                var title = {
                    text: host + "进程的" + monitor_item + "使用情况"
                };
                var subtitle = {
                    text: "top10进程排名"
                };
                var xAxis = {
                    categories: ['Process Name'],
                    title: {
                        text: null
                    }
                };
                var yAxis = {
                    min: 0,
                    title: {
                        text: monitor_item + "占用率",
                        align: 'high'
                    },
                    labels: {
                        overflow: 'justify'
                    }
                };
                var tooltip = {
                    valueSuffix: '% '
                };
                var plotOptions = {
                    bar: {
                        dataLabels: {
                            enabled: true
                        }
                    }
                };
                var legend = {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'top',
                    x: -40,
                    y: 100,
                    floating: true,
                    borderWidth: 1,
                    backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) ||
                        '#FFFFFF'),
                    shadow: true
                };
                var credits = {
                    enabled: false
                };

                var series = [];
                for (var i = 0; i < d[1].length; i++) {
                    series[i] = {
                        name: d[1][i] + " " + d[0][i],
                        data: [d[2][i]]

                    }
                };

                var json = {};
                json.chart = chart;
                json.title = title;
                json.subtitle = subtitle;
                json.tooltip = tooltip;
                json.xAxis = xAxis;
                json.yAxis = yAxis;
                json.series = series;
                json.plotOptions = plotOptions;
                json.legend = legend;
                json.credits = credits;
                $('#container').highcharts(json);

            },
            error: function (error) {
                console.log(error)
            }
        })
    }
    var app = new Vue({
        'el': "#body",
        'data': {
            resourceData: [],
            systemData: [],
        },
        mounted: function () {
            $.ajax({
                url: window.cmdbbackurl + "/v1/apps/" + 'science',
                type: 'get',
                dataType: 'json',
                xhrFields: {
                    withCredentials: true
                },
                crossDomain: true,
                data: {
                    app_id: 'science'
                },
                success: (data) => {
                    this.resourceData = data
                },
                error: function (error) {
                    console.log(error)
                }
            });
            $.ajax({
                url: window.cmdbbackurl + "/v1/apps/" + 'science' + "/status",
                type: 'get',
                dataType: 'json',
                data: {
                    app_name: "science",
                    sys_status: "memery",
                    end_time: "1h",
                    polymerization: "Average",
                    period: "5m",
                },
                xhrFields: {
                    withCredentials: true
                },
                crossDomain: true,
                success: (data) => {
                    this.systemData = data
                    const json = getDataSource(data)
                    $('#app_status').highcharts(json);

                    function getDataSource(args) {
                        var chart = {
                            type: 'spline'
                        };
                        var title = {
                            text: "此业务各服务器" + args[0]["monitor_item"] + "使用状态"
                        };
                        var subtitle = {
                            text: args[0]["monitor_item"]
                        };
                        var xAxis = {
                            categories: args[0]["value"][(args[0]["value"].length - 1)]
                        };
                        var yAxis = {
                            title: {
                                text: args[0]["monitor_item"] + "占用率"
                            },
                            labels: {
                                formatter: function () {
                                    return this.value + '\xB0';
                                }
                            },
                            lineWidth: 2
                        };
                        var tooltip = {
                            crosshairs: true,
                            shared: true
                        };
                        var plotOptions = {
                            spline: {
                                marker: {
                                    radius: 4,
                                    lineColor: '#666666',
                                    lineWidth: 1
                                }
                            },
                            series: {
                                cursor: 'pointer',
                                events: {
                                    click: function (e) {
                                        $('#process_model').modal('show')
                                        query_app_status(e.point.category, e.point.series
                                            .name, json.subtitle.text);
                                        // $('#process_model').modal('show')
                                        // alert(e.point.category);
                                    }
                                }
                            },
                        };
                        var series = [];
                        if (args[0]["monitor_item"] == "cpu") {
                            for (var i = 0; i < (args.length); i++) {
                                series[i] = {
                                    name: args[i]["host"] + ":" + args[i]["value"][2][
                                        "quota"
                                    ],
                                    marker: {
                                        symbol: 'square'
                                    },
                                    data: args[i]["value"][2]["value"]
                                }
                            }
                        } else if (args[0]["monitor_item"] == "memery") {
                            for (var i = 0; i < (args.length); i++) {
                                series[i] = {
                                    name: args[i]["host"] + ":" + args[i]["value"][1][
                                        "quota"
                                    ],
                                    marker: {
                                        symbol: 'square'
                                    },
                                    data: args[i]["value"][1]["value"]
                                }
                            }
                        }
                        var json = {};
                        json.chart = chart;
                        json.title = title;
                        json.subtitle = subtitle;
                        json.tooltip = tooltip;
                        json.xAxis = xAxis;
                        json.yAxis = yAxis;
                        json.series = series;
                        json.plotOptions = plotOptions;

                        return json
                    }
                },
                error: function (error) {
                    console.log(error)
                }
            });
        },
        methods: {
            app_query: function (event) {
                // var e = e || window.event;
                var app_name = event.target.value
                $.ajax({
                    url: window.cmdbbackurl + "/v1/apps/" + app_name,
                    type: 'get',
                    dataType: 'json',
                    xhrFields: {
                        withCredentials: true
                    },
                    crossDomain: true,
                    data: {
                        app_id: app_name
                    },
                    success: (data) => {
                        this.resourceData = data
                    },
                    error: function (error) {
                        console.log(error)
                    }
                })
            },
            // gernerateID: function (index) {
            //     return "container_" + index
            // },

            app_status_query: function (event) {
                var app_name = event.target.value
                $.ajax({
                    url: window.cmdbbackurl + "/v1/apps/" + app_name + "/status",
                    type: 'get',
                    dataType: 'json',
                    data: $('#all_ec2_system_status').serialize(),
                    xhrFields: {
                        withCredentials: true
                    },
                    crossDomain: true,
                    success: (data) => {
                        this.systemData = data
                        const json = getDataSource(data)
                        $('#app_status').highcharts(json);

                        function getDataSource(args) {
                            var chart = {
                                type: 'spline'
                            };
                            var title = {
                                text: "此业务各服务器" + args[0]["monitor_item"] + "使用状态"
                            };
                            var subtitle = {
                                text: args[0]["monitor_item"]
                            };
                            var xAxis = {
                                categories: args[0]["value"][(args[0]["value"].length - 1)]
                            };
                            var yAxis = {
                                title: {
                                    text: args[0]["monitor_item"] + "占用率"
                                },
                                labels: {
                                    formatter: function () {
                                        return this.value + '\xB0';
                                    }
                                },
                                lineWidth: 2
                            };
                            var tooltip = {
                                crosshairs: true,
                                shared: true
                            };
                            var plotOptions = {
                                spline: {
                                    marker: {
                                        radius: 4,
                                        lineColor: '#666666',
                                        lineWidth: 1
                                    }
                                },
                                series: {
                                    cursor: 'pointer',
                                    events: {
                                        click: function (e) {
                                            $('#process_model').modal('show')
                                            query_app_status(e.point.category, e.point.series
                                                .name, json.subtitle.text);
                                            // $('#process_model').modal('show')
                                            // alert(e.point.category);
                                        }
                                    }
                                },
                            };
                            var series = [];
                            if (args[0]["monitor_item"] == "cpu") {
                                for (var i = 0; i < (args.length - 1); i++) {
                                    series[i] = {
                                        name: args[i]["host"] + ":" + args[i]["value"][2][
                                            "quota"
                                        ],
                                        marker: {
                                            symbol: 'square'
                                        },
                                        data: args[i]["value"][2]["value"]
                                    }
                                }
                            } else if (args[0]["monitor_item"] == "memery") {
                                for (var i = 0; i < (args.length - 1); i++) {
                                    series[i] = {
                                        name: args[i]["host"] + ":" + args[i]["value"][1][
                                            "quota"
                                        ],
                                        marker: {
                                            symbol: 'square'
                                        },
                                        data: args[i]["value"][1]["value"]
                                    }
                                }
                            }
                            var json = {};
                            json.chart = chart;
                            json.title = title;
                            json.subtitle = subtitle;
                            json.tooltip = tooltip;
                            json.xAxis = xAxis;
                            json.yAxis = yAxis;
                            json.series = series;
                            json.plotOptions = plotOptions;

                            return json
                        }
                    },
                    error: function (error) {
                        console.log(error)
                    }
                })
            }
        }
    })
</script>

</html>